<div class="container__menu-up">

   <div class="container__menu-up__logo">
    <img src="/Logotipo.png" alt="Logo" class="logo" />

  </div>
  
  <div class="container__menu-up__links">
    <a routerLink="/" class="menu-up__link">Home</a>
    <a href="https://www.linkedin.com/in/christiane-rodrigues/" target="_blank" class="menu-up__link">Contact</a>
    <a href="https://github.com/Chris-CRA" target="_blank" class="menu-up__link">GitHub</a>
  </div>

  <div class="menu-up__search">
    <input type="text" placeholder="Search..." />
  </div>
</div>

