<div class="container__menu-up">
    <div class="menu-up__logo">
        <img src="assets/logo.jpg" alt="Logo">
    </div>
    <div class="container__menu-up__links">
        <a href="#" class="menu-up__link">Home</a>
        <a href="#" class="menu-up__link">About</a>
        <a href="https://www.linkedin.com/in/christiane-rodrigues/" class="menu-up__link">Contact</a>
        <a href="https://github.com/Chris-CRA" class="menu-up__link">Blog</a>
    </div>
    <div class="menu-up__search">
        <input type="text" placeholder="Search...">
    </div>

</div>
