<div class="container__small-card">
  <div class="small-card__photo">
    <img src="https://yt3.googleusercontent.com/Wu5Mnf4-D1eyr9oJHZhW-dRWyMJAZXBtw3R_eW2U7wdFus0-DyhQVM9lSOmM0QhqmKi8KW81nio=s900-c-k-c0x00ffffff-no-rj" alt="">
  </div>

  <div class="small-card__description">
    <p><a href="https://www.programaria.org/">Jornada iniciada também na PrograMaria sobre Front End.</a></p>
    
    <div class="info-bar">
      <button class="info-button">
        👁️ {{ viewCount }} visualizações
      </button>

      <button class="info-button">
        ⏱️ {{ timeSince }}
      </button>
    </div>
  </div>
</div>
